.container {
  position: relative;
  height: 100%;
  .dynamicBackgroundContainer {
    position: absolute;
    z-index: 0;
    // have the image thats passed in take up the entire container
    width: 100%;
    height: 100%;
    // center the image
    background-position: center;
    // scale the image to cover the entire container
    background-size: cover;
    // make the image slightly transparent
    opacity: 0.35;
    // blur the image
    filter: blur(5px);
  }
}
