$primary: rgb(60, 98, 85);
$primary-dark: rgb(19, 58, 44);
$primary-light: rgb(92, 138, 122);
$secondary: rgb(97, 135, 110);
$secondary-dark: rgb(60, 90, 74);
$secondary-light: rgb(138, 176, 154);
$tetriary: rgb(166, 187, 141);
$tetriary-dark: rgb(113, 128, 95);
$tetriary-light: rgb(211, 236, 179);
$quaternary: rgb(234, 231, 177);
$quaternary-dark: rgb(197, 193, 111);
$quaternary-light: rgb(230, 228, 200);
$quaternary-lighter: rgb(243, 242, 226);
$tablet-width: 990px;
$mobile-width: 600px;
$mobwidth2: 480px;
$header-height: 4.4rem;

$animation: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
$simple-animation: all 0.2s ease-in-out;

@mixin mobile {
  @media (max-width:#{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width:#{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width:#{$mobile-width}) {
    @content;
  }
}
