:root{
  --primary: rgb(60, 98, 85);
  --primary-dark: rgb(19, 58, 44);
  --primary-light: rgb(92, 138, 122);
  --secondary: rgb(97, 135, 110);
  --secondary-dark: rgb(60, 90, 74);
  --secondary-light: rgb(138, 176, 154);
  --tetriary: rgb(166, 187, 141);
  --tetriary-dark: rgb(113, 128, 95);
  --tetriary-light: rgb(211, 236, 179);
  --quaternary: rgb(234, 231, 177);
  --quaternary-dark: rgb(197, 193, 111);
  --quaternary-light: rgb(230, 228, 200);
  --quaternary-lighter: rgb(243, 242, 226);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}