:root{
  --primary: #3C6255;
  --primary-dark: #133a2c;
  --primary-light: #5c8a7a;
  --secondary: #61876E;
  --secondary-dark: #3c5a4a;
  --secondary-light: #8ab09a;
  --tetriary: #A6BB8D;
  --tetriary-dark: #71805f;
  --tetriary-light: #d3ecb3;
  --quaternary: #EAE7B1;
  --quaternary-dark: #c5c16f;
  --quaternary-light: #e6e4c8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}