:root{
  --primary: rgb(60, 98, 85);
  --primary-dark: rgb(19, 58, 44);
  --primary-light: rgb(92, 138, 122);
  --secondary: rgb(97, 135, 110);
  --secondary-dark: rgb(60, 90, 74);
  --secondary-light: rgb(138, 176, 154);
  --tetriary: rgb(166, 187, 141);
  --tetriary-dark: rgb(113, 128, 95);
  --tetriary-light: rgb(211, 236, 179);
  --quaternary: rgb(234, 231, 177);
  --quaternary-dark: rgb(197, 193, 111);
  --quaternary-light: rgb(230, 228, 200);
  --quaternary-lighter: rgb(243, 242, 226);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}
.bgTop {
  z-index: 0;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100;
}
.waveAnimation .waveTop {
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation: move_wave 10s linear infinite;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 620px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 700px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
