@import "@/styles/globals.scss";
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  @include tablet {
    flex-direction: row;
  }
  .contentContainer {
    .imageUploadContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .imageContainer {
        width: 100%;
      }
      .imageUploadText {
        // muted theme
        display: flex;
        color: var(--primary-light);
        font-size: 0.8rem;
        margin: 0 0 0.5rem 0;
      }
    }
    .nameContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      @include tablet {
        flex-direction: column;
      }
      .inputParent {
        width: 75%;
        @include tablet {
          width: 100%;
        }
        .input {
          width: 95%;
        }
      }
    }
    .addressContainer {
      display: flex;
      flex-direction: row;
      // wrap the inputs to the next line
      flex-wrap: wrap;
      @include tablet {
        flex-direction: column;
      }
      justify-content: space-between;
      .inputParent {
        width: 48%;
        //  if the input is the only input on the line, and is the last input, make it full width
        @include tablet {
          width: 100%;
        }
      }
    }
    .input {
      width: 100%;
    }
  }
}

.footer {
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .button {
      // width: auto;
      margin-left: 1rem;
      background-color: var(--primary);
      &:hover {
        background-color: var(--primary-light);
        transition: 1 all ease-in-out;
        // make the button grow slightly
      }
      svg {
        margin-right: 5px;
      }
    }
  }
}

.radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mutedText {
  color: var(--primary-light);
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
  width: 75%;
  .spanLink {
    color: var(--primary-dark);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      // grow the text slightly
      transform: scale(1.5);
      transition: 1s all ease-in-out;

      color: var(--primary-light);
    }
  }
}
